################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorAppCRUD
/BlazorApp1
/.vs
