@page "/insuranceDelete/{Id:int}"

@using System.Data

@inject NavigationManager NavigationManager
@inject InsuranceTable InsuranceTable;

<h3>Delete Insurance</h3>
<br />

@if(rowEDINS != null)
{
    <Field ControlType="TBText" LabelText="Caption" Bind="@rowEDINS["Caption"]" Obj=@rowEDINS></Field>
    <Field ControlType="TBText" LabelText="ShortCaption" Bind="@rowEDINS["ShortCaption"]" Obj=@rowEDINS></Field>
}

<br />
<button @onclick="Delete">Delete</button>

@code {
    [Parameter]
    public int Id { get; set; }

    private DataRow rowEDINS;

    protected override void OnInitialized()
    {
        rowEDINS = InsuranceTable.FindById(Id);
    }

    private void Delete()
    {
        InsuranceTable.Remove(Id);
        rowEDINS = null;

        NavigationManager.NavigateTo("/insurance");
    }
}