@layout NestedLayout
@page "/NestedComponent/{LayoutParam}"

<h1>This component is in 'Nested layout!!!'</h1>
<p>Parameter from Layout: @LayoutParam</p>

@code
{
    [Parameter]
    public string LayoutParam { get; set; }

    protected override void OnParametersSet()
    {
    }
}

