@inherits LayoutComponentBase

<div id="page">

    <header id="Title">
        <section id="Logo"><img src="css/logo.png"/></section>
    </header>

    <section id="MainTab">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
            </ul>
        </nav>
    </section>

    <section id="Main">
        <section id="Index">
            <div class="">
                <nav>
                    <ul>
                        <li><a href="counter">Counter</a></li>
                        <li><a href="LayoutInComponent">Layout In Component</a></li>
                        <li><a href="NestedComponent">Nested Layout</a></li>
                        <li><a href="cn_nested_fetchdata">Centralized fetch data</a></li>
                        <li><a href="cn_nested_Component">Centralized counter</a></li>
                        <li><a href="widget">widget</a></li>
                        @*<li><a href="databind">Data bind</a></li>*@
                        @*<li><a href="todo">ToDo</a></li>*@
                    </ul>
                </nav>
            </div>
        </section>

        <section id="Content">
            <div>
                @Body
            </div>
        </section>
    </section>
</div>


