@page "/widget"

<h3>Widget</h3>
<br/>

<div>
    <div style="float: left; width: 400px;border-right:1px solid blue ">
        <Left/>
    </div>
    <div style="float: right; width: 300px; padding-left: 10px;">
        <Right/>
    </div>
</div>

@code {

}